
<div>
    <%=link_to '新規登録',new_task_path %>
</div>

<div class="row">
    <div class="col-md-8">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th>NO</th>
                    <th>Title</th>
                    <th>Update</th>
                    <th>Menu</th>
                </tr>
                <tbody>
                    <% @tasks.each do |task| %>
                        <tr>
                            <td><%= task.id %></td>
                            <td><%= task.title %></td>
                            <td><%= task.updated_at %></td>
                            <td>
                                [<%= link_to '削除',
                                 task_path(task),
                                  data: { turbo_method: :delete, 
                                  turbo_confirm: '削除してもよろしいですか？' } %>]
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </thead>
        </table>
    </div>
</div>
